$bg: #26547c;
$num: #606060;
$function: #424448;
$operator: #fe9f09;
$radius: 10px;
$font: 'Arial', sans-serif;
$font-color: #fcfcfc;

body, html {
  height: 100%;
  background-color: $bg;
  font-family: $font;
  font-size: 24px;
}
