$bg: #26547c;
$num-button: #606060;
$num-button--hover: cadetblue;
$function-button: #424448;
$function-button--hover: darkgray;
$operator-button: #fe9f09;
$operator-button--hover: #fe6b09;
$radius: 10px;
$font: 'Arial', sans-serif;
$font-color: #f0f8ff;

body, html {
  height: 100%;
  background-color: $bg;
  font-family: $font;
  font-size: 30px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-color;
}

.container {
  resize: both;
  overflow: auto;
  min-height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  background-color: #000;
}

.calculator {
  flex: 1;
  min-width: 195px;
  max-width: 340px;
  border-radius: 20px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(66, 68, 72, .55);
  min-height: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.result {
  width: -moz-fit-content;
  width: fit-content;
  block-size: -moz-fit-content;
  block-size: -webkit-fill-available;
  block-size: fit-content;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1px;
}

.row {
  display: flex;
  column-gap: 1px;
  flex: 1;
}

button {
  min-height: 40px;
  min-width: 48px;
  flex: 1 1 25%;
  border: none;
  text-decoration: none;
  background-color: $num-button;
  font-size: 16px;
  color: $font-color;

  &:hover {
    background-color: $num-button--hover;
  }

  &.function {
    background-color: $function-button;

    &:hover {
      background-color: $function-button--hover;
    }
  }

  &.operator {
    background-color: $operator-button;

    &:hover {
      background-color: $operator-button--hover;
    }
  }

  &.zero {
    flex: 2 1 50.5%;
  }
}
